*{
	margin: 0;
	border: 0;
}

body {
	background: #FFFAFA;
}

#container {
	background: #FFFAFA;
	width: 100%;
}

#top {
	width: 100%;
	height: 250px;
}

#banner {
	width: 78%;
	height: 250px;
	background-image: url(baner.gif);
	float: left;
}

#flag {
	width: 22%;
	height: 250px;
	background-image: url(flag.jpg);
	float: right;
}

#menu {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	background: #d4cdcd;
	width: 100%;
	height: 50px;
	position: absolute;
	z-index: 1;
}

#main {
	margin-top: 50px;
	position: relative;
	background: #fffafa;
	width: 100%;
	min-height: 800px;
	padding-bottom: 400px;
}

#main_main {
	width: 78%;
	height: 800px;
	float: left;
}

#right_bar {
	width: 22%;
	height: 800px;
	float: right;
	background: #e9e4e4;
	padding-bottom: 400px;
}

#footer {
	background-image: url(footer.png);
	position: fixed;
	left: 0;
 	bottom: 0;
 	width: 100%;
 	height: 200px;
}

.p1 {
	padding-top: 150px;
	padding-left: 50px;
	font-size: 12pt;
	font-family: arial;
}

.clear {
	clear:both;
}
